/* Global CSS File */

/* Importing Fonts */
@font-face {
    font-family: 'CascadiaCode';
    src: url('../fonts/CascadiaCode.ttf') format('truetype');   
}

.font-cascadia {
    font-family: 'CascadiaCode', monospace;
}

/* Global CSS */
html{
    overflow-x: hidden;
    scrollbar-width: thin;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}