@font-face {
    font-family: 'CascadiaCode';
    src: url('../fonts/CascadiaCode.ttf') format('truetype');   
}

html{
    overflow-x: hidden;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}