.purple{
    color: #6c63ff;
}

.moccasin{
    color: moccasin;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.portbg{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    position: relative;
    z-index: 1;
    /*
    background-size: cover;
    background-attachment: fixed;*/
}

.txt-justify{
    text-align: justify;
}

.txt-gradient-heading{
    background-color: #e79087;
    background: linear-gradient(315deg, #e79087 0%, #fcd181 74%);
    background: -webkit-linear-gradient(315deg, #e79087 0%, #fcd181 74%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.txt-gradient-1{
    background: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-gradient-2{
    background: -webkit-linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-gradient-3{
    background: -webkit-linear-gradient( 135deg, #92FFC0 10%, #1b65d3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hvr-underline{
    text-decoration: none;
}

.hvr-underline:hover{
    text-decoration: underline;
}

.proj-p{
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 8;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cur-default{
    cursor: default;
}

.hvr-scale{
    transition: transform 0.3s;
}

.hvr-scale:hover{
    transform: scale(1.1);
}